#header {
    background-color: #dac1e2;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.custom-table {
    width: 100%;
}

.custom-table th {
    background-color: #f2f2f2;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.custom-table tr:hover {
    background-color: #ddd;
}


.card {
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}



.custom-btn {
            background-color: #b155cb;
            color: white;
        }
.custom-btn:hover {
            background-color: #a048b8;
            color: #eae4e4;
        }